.tournamentSummary {
    margin: 10px 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tournamentInfo {
    display: flex;
    align-items: center;

    * {
        margin: 0 2px;
    }

    img {
        width: 32px;
    }
}

@media only screen and (max-width: 600px) {
    .winners {
        flex-direction: column;
    }
    .winner {
        width: 100%;
        flex-basis: unset;
    }
}